<div class="flex justify-center items-center min-h-screen bg-gray-100 py-8 px-4">
  <div class="w-full max-w-md p-6 bg-white shadow-lg rounded-xl">
     <div class="flex justify-center space-x-6 text-gray-400">
      <i class='bx bx-book-open text-4xl'></i>
      <i class='bx bx-library text-4xl'></i>
      <i class='bx bx-bookmark text-4xl'></i>
    </div>
    
    <% if alert = flash[:alert] %>
      <div class="flex items-center gap-2 py-3 px-4 bg-red-100 text-red-600 font-medium rounded-lg shadow-sm" id="alert">
        <i class='bx bx-error-circle text-xl'></i>
        <p><%= alert %></p>
      </div>
    <% end %>

    <% if notice = flash[:notice] %>
      <div class="flex items-center gap-2 py-3 px-4 bg-green-100 text-green-600 font-medium rounded-lg shadow-sm" id="notice">
        <i class='bx bx-check-circle text-xl'></i>
        <p><%= notice %></p>
      </div>
    <% end %>
    
    <h1 class="font-extrabold text-3xl text-gray-800 mt-4 text-center">Sign Up</h1>

    <%= form_with model: @user, url: registration_path, class: "mt-6 space-y-4" do |form| %>
     <% if @user.errors.any? %>
      <div class="bg-red-50 text-red-500 p-3 rounded-lg mb-6">
       
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
      <div>
        <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your email address", class: "block  rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 px-4 py-2 h-10 w-full text-gray-700 placeholder-gray-400" %>
      </div>

      <div>
        <%= form.password_field :password, required: true, autocomplete: "new-password", placeholder: "Enter your password", maxlength: 72, class: "block rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 px-4 py-2 h-10 w-full text-gray-700 placeholder-gray-400" %>
      </div>
      
      <div>
        <%= form.password_field :password_confirmation, required: true, autocomplete: "new-password", placeholder: "Confirm your password", maxlength: 72, class: "block  rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 px-4 py-2 h-10 w-full text-gray-700 placeholder-gray-400" %>
      </div>

      <div class="flex flex-col items-center gap-4 mt-4">
        <%= form.submit "Sign Up", class: "w-full px-6 py-3 bg-blue-600 hover:bg-blue-500 text-white font-semibold rounded-lg  transition duration-300 ease-in-out transform hover:scale-105 text-center" %>
        
        <div class="text-sm text-gray-600 flex flex-row justify-between w-full space-y-2">
          <%= link_to "Already have an account? Sign in", new_session_path, class: "text-blue-600 hover:text-blue-500 transition block" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
