<!-- dashboard.html.erb -->
<div class="navbar">
  <div class="logo-section">
    <i class='bx bx-book-open'></i>
    <i class='bx bx-library'></i>
    <i class='bx bx-bookmark'></i>
  </div>
  
  <div class="menu-toggle" id="menuToggle">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <div class="nav-links" id="navLinks">
    <%= link_to books_path, class: "nav-link" do %>
      <i class="bx bx-book"></i>
      <span>View All Books</span>
    <% end %>
    <%= link_to user_path(Current.user), class: "nav-link" do %>
      <i class="bx bx-user"></i>
      <span>Borrowed Books</span>
    <% end %>
    <%= button_to session_path, method: :delete, class: "nav-link" do %>
      <i class="bx bx-log-out"></i>
      <span>Logout</span>
    <% end %>
  </div>
</div>

<div class="main-content">
  <h1>Dashboard</h1>
  <p>Welcome, <%= Current.user.email_address %>!</p>
  
  <% if @recent_books.any? %>
    <div class="mt-8">
      <h2>Recent Books</h2>
      <div class="book-grid">
        <% @recent_books.each do |book| %>
          <div class="book-card">
            <h3 class="book-title"><%= book.title %></h3>
            <p class="book-author">by <%= book.author %></p>
             <p class="book-isbn"><%= book.isbn %></p>
            <%= link_to "View Details", book_path(book), class: "book-link" %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

